.contact__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact__wrapper > h2 {
  color: #5c62ec;
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
  padding-bottom: 20px;
}

.contact__wrapper > address {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.contact__wrapper > address > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.contact__wrapper > address > div > h3 {
  color: #171718;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
}

.contact__wrapper > address > div > p {
  color: #171718;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
}

.contact__wrapper > address > .tgwaps > a {
  color: #171718;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
}

.contact__wrapper > address > .eamail > a {
  color: #5c62ec;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
}
