.project-sec {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projects__wrapper {
  padding: 70px 0;
}

.projects__title {
  font-size: 60px;
  font-weight: 700;
  color: #5c62ec;
  line-height: 18px;
  padding-bottom: 60px;
  text-align: center;
}

.projects__view {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}
