@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #fff;
  min-height: 100vh;
}

#root {
  min-height: 100vh;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

input,
textarea {
  outline: none;
}

button {
  background-color: transparent;
  cursor: pointer;
  padding: 5px 15px;
  border: 1px solid #ededed;
  color: #ededed;
  border-radius: 5px;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.wrapper {
  max-width: 1220px;
  margin: 0 auto;
}
